<h3>Add Employee</h3>
<!-- <div class="card flex justify-content-center">
    <p-floatLabel>
        <input pInputText id="username" [(ngModel)]="username" />
        <label for="username">Username</label>
    </p-floatLabel>
    <p-inputNumber 
    [(ngModel)]="salaray"
    mode="currency" 
    inputId="currency-india" 
    currency="INR" 
    currencyDisplay="code" 
    locale="en-IN" />
</div> -->
<div class="card flex flex-column md:flex-row gap-3">
    <form action="">
    <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-user"></i>
        </p-inputGroupAddon>
        <input pInputText placeholder="Username" [(ngModel)]="Name" name="Name" />
    </p-inputGroup>
    <p-inputGroup>
        <p-inputGroupAddon>₹</p-inputGroupAddon>
        <input type="number" pInputText placeholder="Salaray" [(ngModel)]="Salaray" name="Salaray"/>
        <p-inputGroupAddon>.0</p-inputGroupAddon>
    </p-inputGroup>
    <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-phone"></i>
        </p-inputGroupAddon>
        <input pInputText placeholder="Contact Name" [(ngModel)]="Contact" name="Contact"/>
    </p-inputGroup>
    <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-phone"></i>
        </p-inputGroupAddon>
        <input pInputText placeholder="Aadhar No." [(ngModel)]="Aadhar" type="number" name="Aadhar"/>
    </p-inputGroup>
    <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-phone"></i>
        </p-inputGroupAddon>
        <input pInputText placeholder="PAN No." aria-required="true" [(ngModel)]="Pan" name="Pan"/>
    </p-inputGroup>
    <div class="card flex justify-content-center">
        <p-dropdown 
            [options]="roles" 
            [(ngModel)]="Type"
            placeholder="Select a Role" name="Role" />
    </div>
    <div class="card flex justify-content-center">
        <p-button label="Submit" (onClick)="addEmployee()" />
    </div>
</form>
<div class="card flex justify-content-center">
    <p-toast />
    <p-fileUpload 
        mode="basic" 
        chooseLabel="Choose" 
        chooseIcon="pi pi-upload"
        name="demo[]" 
        url="https://www.primefaces.org/cdn/api/upload.php" 
        accept="image/*" 
        [maxFileSize]="1000000" 
        (onUpload)="onUpload($event)" />
</div>
</div>