<div>
  <!-- <h1>This is {{heading}}</h1> -->
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quae qui ab veritatis optio, eos consectetur veniam? Illo, ex animi. Rem quasi saepe similique illum porro autem ipsa nulla in! Eius doloribus quod ea dicta omnis quibusdam illum architecto fugit officiis, voluptas veritatis. Numquam, similique id labore a quam placeat voluptatibus enim. Praesentium nemo, expedita, omnis, explicabo optio in inventore nostrum reprehenderit quia molestias similique ut mollitia porro possimus?</p>
</div>
<div>
  <app-home></app-home>
</div>